.app {
  max-width: 1200px;
  margin: 0 auto;
}

.app__left {
  padding: 25px;
}

.app__right {
  padding: 25px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__title {
  font-size: 26px;
  color: #0094ff;
}

.app__right__title--1,
.app__right__title--2 {
  color: rgb(41, 41, 41);
  margin-bottom: 15px !important;
}

.app__right__title--2 {
  margin-top: 20px !important;
}
